include README
include LICENSE
include AUTHORS
include INSTALL
include MANIFEST.in
recursive-include client/dialogs *.py
recursive-include client/uis *.ui
recursive-include client/locale *.mo
recursive-include client *.css
